---
title: "Introduce"

import { getProgrammingLangs, getFrameworks, getTools } from "../lib/util";
import IconCard from "../components/IconCard.astro";
import SplitText from "./animations/SplitText/SplitText.tsx";

const test = () => {
    console.log("test");
}
---
<>
    <SplitText
        client:load
        text="LiverHawk"
        className="text-2xl font-semibold text-center"
        delay={100}
        duration={0.6}
        ease="power3.out"
        splitType="chars"
        from={{ opacity: 0, y: 40 }}
        to={{ opacity: 1, y: 0 }}
        threshold={0.1}
        rootMargin="-100px"
        textAlign="center"
        onLetterAnimationComplete={test}
    />
    <p>
        LiverHawkは、プログラミング言語やフレームワーク、ツールに関する情報を提供することを目的としたプロジェクトです。
        <br />
        このプロジェクトでは、様々な技術スタックに関する情報を集約し、開発者が学びやすい環境を提供します。
    </p>
    
    <h3>使用している技術スタック</h3>
    
    <div class="mb-8">
        <h4 class="text-lg font-semibold mb-4">Programming Language</h4>
        <div class="justify-self-center grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            {getProgrammingLangs().map(({ set, name }) => (
                <IconCard set={set} name={name} />
            ))}
        </div>
    </div>
    
    <div class="mb-8">
        <h4 class="text-lg font-semibold mb-4">Frameworks</h4>
        <div class="justify-self-center grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            {getFrameworks().map(({ set, name }) => (
                <IconCard set={set} name={name} />
            ))}
        </div>
    </div>
    
    <div class="mb-8">
        <h4 class="text-lg font-semibold mb-4">Tools</h4>
        <div class="justify-self-center grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            {getTools().map(({ set, name }) => (
                <IconCard set={set} name={name} />
            ))}
        </div>
    </div>
</>
