---
const { frontmatter } = Astro.props;
import "../styles/global.css";
import "../styles/typography.css";
import PDFViewer from "@components/PDFViewer.tsx";
import { Icon } from "astro-icon/components";
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- OGP -->
        <meta property="og:title" content={frontmatter.title} />
        <meta property="og:description" content={frontmatter.description} />
        <meta property="og:image" content={`${import.meta.env.ORIGIN_URL}/ogp.png`} />
        <meta property="og:url" content={Astro.url.toString()} />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="LiverHawk" />
        <title>{frontmatter.title}</title>
    </head>
    <body class="dark:bg-gray-900 text-gray-800 dark:text-gray-200">
        <!-- title header -->
        <div class="flex justify-between items-center md:px-10 md:py-8 px-6 py-4 bg-gray-100 dark:bg-gray-800">
            <div class="text-2xl font-bold">
                {frontmatter.title}
            </div>
            <div class="flex items-center gap-x-4">
                {
                    frontmatter.githubUrl && (
                        <a href={frontmatter.githubUrl} target="_blank" class="text-2xl font-bold">
                            <div
                                class="text-[#49739c] dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-400"
                                data-icon="GithubLogo"
                                data-size="24px"
                                data-weight="regular"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24px"
                                    height="24px"
                                    fill="currentColor"
                                    viewBox="0 0 256 256"
                                >
                                    <path
                                        d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
                                    ></path>
                                </svg>
                            </div>
                        </a>
                    )
                }
                {
                    frontmatter.link && (
                        <a href={frontmatter.link} target="_blank" class="text-2xl font-bold">
                            Get Started
                        </a>
                    )
                }
            </div>
        </div>
        {
            frontmatter.img && (
                <div class="flex justify-center px-4">
                    <img src={frontmatter.img} class="md:w-2/3 w-full justify-self-center m-5 border-2 border-gray-200 dark:border-gray-700 rounded-lg" alt={frontmatter.title} />
                </div>
            )
        }
        
        <div class={`prose dark:prose-invert justify-self-center w-screen py-8 px-4 ${!frontmatter.pdfUrl && "mb-12"}`}>
            <slot />
        </div>
        {
            frontmatter.pdfUrl && (
                <div class="my-10 md:m-10">
                    <PDFViewer client:load pdfUrl={frontmatter.pdfUrl} />
                </div>
            )
        }
        <!-- フロートボタン -->
        <a href="/" class="fixed bottom-8 right-8 bg-blue-500 hover:bg-blue-600 text-white rounded-full p-4 shadow-lg transition-all duration-300 hover:scale-110">
            <Icon name="mdi:home" class="w-6 h-6" />
        </a>
    </body>
</html>