---
const { frontmatter } = Astro.props;
import "../styles/global.css";
import "../styles/typography.css";
import PDFViewer from "@components/PDFViewer.tsx";
import { Icon } from "astro-icon/components";
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body class="dark:bg-gray-900 text-gray-800 dark:text-gray-200">
        <!-- title header -->
        <div class="flex justify-between items-center px-10 py-8 bg-gray-100 dark:bg-gray-800">
            <div class="text-2xl font-bold">
                {frontmatter.title}
            </div>
            <div class="flex items-center gap-x-4">
                {
                    frontmatter.githubUrl && (
                        <a href={frontmatter.githubUrl} target="_blank" class="text-2xl font-bold bg-white">
                            <Icon name="devicon:github" />
                        </a>
                    )
                }
                {
                    frontmatter.link && (
                        <a href={frontmatter.link} target="_blank" class="text-2xl font-bold">
                            Get Started
                        </a>
                    )
                }
            </div>
        </div>
        <div class="prose dark:prose-invert mx-auto px-10 py-8">
            <slot />
        </div>
        {
            frontmatter.pdfUrl && (
                <div class="m-10">
                    <PDFViewer client:load pdfUrl={frontmatter.pdfUrl} />
                </div>
            )
        }
        <!-- フロートボタン -->
        <a href="/" class="fixed bottom-8 right-8 bg-blue-500 hover:bg-blue-600 text-white rounded-full p-4 shadow-lg transition-all duration-300 hover:scale-110">
            <Icon name="mdi:home" class="w-6 h-6" />
        </a>
    </body>
</html>